.ArticleListing{
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1080px;
  }
  
  .ArticleCard {
    display: flex;
    flex-direction: row;
    padding: 25px 30px;
    margin: 30px 0;
    border: solid black 1px;
  }
  
  .ArticleCardImage {
    flex-basis: 30%;
    padding-right: 30px;
    align-self: center;
  }
  
.ArticleListing {
  margin: 0 auto;
  max-width: 1080px;
}

.App h1 {
  font-size: 70px;
  font-weight: normal;
}

.ArticleCard {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 25px 30px;
  margin-bottom: 20px;
}

.ArticleCardImage {
  flex-basis: 30%;
  padding-right: 30px;
}

.ArticleCardImage img {
  height: auto;
  width: 100%;
}

.ArticleCardText {
  flex-basis: 70%;
}

a {
  font-weight: bold;
}

.Article {
}

.ArticleHeaderWrapper {
  background-color: #e5e5e5;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
  padding-bottom: 45px;
  padding-top: 65px;
}

.ArticleHeader {
  margin: 0 auto;
  max-width: 600px;
}

.ArticleHeader h1 {
  font-size: 48px;
  margin: 0;
}

.ArticleHeaderBlurb {
  font-size: 20px;
}

.ArticleBody {
  margin: 0 auto;
  max-width: 600px;
}
